.Title{
    background-color: black;
    color: goldenrod;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: none;
    width: auto;  
}
.Count{
    background-color: brown;
    color: chartreuse;
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.btn{
    padding: 20px;
    border: 30px;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    color: aqua;
}
