.Homepage{
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background-color: darkslategrey;
    color: aliceblue;
    list-style: none;
}

.Home-urls{
    width: 50vh;
display: grid;
justify-content: space-around;
align-items: center;
list-style: none;
color: rgb(7, 248, 228);


}
.Homepage h1{
color: gold;
}
.Link{
    color: aliceblue;
}